*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../../assets/img/car-washing.png");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
}

.nav-area li a{
    color: #fff; 
    text-decoration: none;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
}

.nav-area li a:hover{
    /* background-color: rgb(166, 201, 248); */
    text-decoration: underline;
}

.logo img{
    float: left;
    width: 350px;
    height: auto;
}

.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.welcome-text h1{
    text-transform: uppercase;
    color: white;
    font-size: 60px;
}